<h2>Editar Aluno</h2>
<hr>
<form (ngSubmit)="onSubmit()" editForm="ngForm">
    
  <div class="form-group">
    <!-- <label for="name" class="text-danger"">Name</label> -->
    <input type="text" class="form-control" name="name" id="name" [(ngModel)]="aluno.name" placeholder="Nome">
  </div>

  <div class="form-group">
    <!-- <label for="name" class="text-danger"">Name</label> -->
    <input type="text" class="form-control" name="ap1" id="ap1" [(ngModel)]="aluno.ap1" placeholder="AP1">
  </div>

  <div class="form-group">
    <!-- <label for="name" class="text-danger"">Name</label> -->
    <input type="text" class="form-control" name="ap2" id="ap2" [(ngModel)]="aluno.ap2" placeholder="AP2">
  </div>

  <button type="submit" class="btn btn-primary">Atualizar</button>
</form>

