<h2>Lista de alunos</h2>

<table class="table table-dark table-hover">
  
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Ap1</th>
      <th scope="col">Ap2</th>
    </tr>
  </thead>
  
  <tbody>
    <tr *ngFor="let a of alunos">
      <td>{{a.name}}</td>
      <td>{{a.ap1}}</td>
      <td>{{a.ap2}}</td>
      <td align="right">
        <button class="btn btn-primary" (click)="edit(a._id)">Editar</button>
        <button class="btn btn-danger ml-3" (click)="delete(a._id)">Deletar</button>
      </td>
    </tr>
  </tbody>

</table>