<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <span class="navbar-brand mb-0 h1">Prova PIW 02</span>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Registrar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Listar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Editar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Atualizar</a>
      </li>
    </ul>
  </div>
</nav>


<a routerLink='registrar'>Registrar Alunos</a> <br>
<a routerLink='listar'>Listar Alunos</a> <br>

<router-outlet></router-outlet>